@tailwind base;
@tailwind components;
@tailwind utilities;



.give-border{
    border: 2px solid black;
}

.custom-hover:hover {
    background-color:  #0F623D;
    /* border-radius: 10rem; */
    color: white;

  }


  #map {
    height: 500px;
    width: 100%;
  }
  